<h1>Listing task_completers</h1>

<table>
  <tr>
    <th>User</th>
    <th>Task</th>
    <th>Date</th>
    <th>Verification</th>
    <th>Time spent</th>
    <th>Rating</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @task_completers.each do |task_completer| %>
  <tr>
    <td><%= task_completer.user %></td>
    <td><%= task_completer.task %></td>
    <td><%= task_completer.date %></td>
    <td><%= task_completer.verification %></td>
    <td><%= task_completer.time_spent %></td>
    <td><%= task_completer.rating %></td>
    <td><%= link_to 'Show', task_completer %></td>
    <td><%= link_to 'Edit', edit_task_completer_path(task_completer) %></td>
    <td><%= link_to 'Destroy', task_completer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task completer', new_task_completer_path %>
