<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @task_completer.user %>
</p>

<p>
  <b>Task:</b>
  <%= @task_completer.task %>
</p>

<p>
  <b>Date:</b>
  <%= @task_completer.date %>
</p>

<p>
  <b>Verification:</b>
  <%= @task_completer.verification %>
</p>

<p>
  <b>Time spent:</b>
  <%= @task_completer.time_spent %>
</p>

<p>
  <b>Rating:</b>
  <%= @task_completer.rating %>
</p>


<%= link_to 'Edit', edit_task_completer_path(@task_completer) %> |
<%= link_to 'Back', task_completers_path %>
