<%= simple_form_for([@topic, @content]) do |f| %>
  <%= f.error_notification %>
    <fieldset>
    <legend>Content Editor</legend>
    <%= f.input :url, :input_html => {:class => "input span7"} %>
    <%= f.input :name, :input_html => {:class => "input input-xlarge"}%>
    <div class="row-fluid">
    <div class="span6">
    <%= f.input :description, :input_html => {:rows => 5, :class => "input input-xlarge"}%>
    <%= f.input :tag_list, :input_html => {data: {load: @content.tags}}%>
    </div>
    <div class="span6">

    </div>
    </fieldset>
   
    <%= f.button :submit, :disable_with => "Processing..." %>

<% end %>
