<%= simple_form_for @task, :html => { :class => 'form-horizontal' } do |f| %>

  <fieldset>
  	<% if params[:name].present? %>
  	<%= f.input :name, :input_html => {:class=> "input span5", :value => params[:name ]} %>
 
    <% else %>
  	<%= f.input :name, :input_html => {:class=> "input span5", :placeholder => "Typing, Programming, etc."}  %>
  	<% end %>
 	<%= f.input :started_at , :input_html => {:class=> "input input-small"}%>
   
    <%= f.input :content_id, :as => 'hidden', :input_html => {:value => params[:content_id]}%>
    	   
    <%= f.input :complete, :label => "Mark Complete"%>	
    <div id="completed_at" style="display: none;">
    <%= f.input :completed_at, :include_blank => true,  :input_html => {:class=> "input input-small"}%>
    </div> 
     <% unless params[:content_id].present? %>
    <%= f.input :reccuring %>
     <div id="interval" style="display: none;">
     
     <%= f.input :interval, :as => "select", :collection => 1..12, :include_blank => false, :input_html => {:class=> "input input-small"} %>
     <%= f.input :interval_modifier, :label => false, :as => "select", :collection => [["Minutes", 1], ["Hours", 60], ["Days", 1440]], :include_blank => false, :input_html => {:class=> "input input-small"} %>
     </div>
    <% end %>
    
  </fieldset>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                dashboard_index_path, :class => 'btn' %>
  </div>
<% end %>
