	<div class="row-fluid">
		<div class="topic-main span9">
	    
	    		<% @topic.contents.each do |content| %>
	                
				
					
	     			<div class="row-fluid">
	     			<div class="thumb-body span4">
	     			 <a class="thumbnail" href="#">
	                   <img alt="" src="http://placehold.it/140x100">
	                 </a>
	     			</div>
	     			<div class="thumb-body-container span8">
	     			<div class="widget-header">
						<h3><%= link_to content.name, topic_content_path(@topic,content)%></h3>
					</div>
	     			<div class="widget-content thumb-description">
	     			<p><%= content.description %></p>
	     			</div>
	     			<div class="pull-right">
						<p>
						 <% content.tags.each do |tag| %>
							<%= link_to tag_path(tag) do %>
								<span class="label label-info"><%= tag.name %></span>
							<% end %>
						  <% end %>	
						|<i class="icon-share"></i> <%= link_to "Link", content.url%>
						| <i class="icon-tasks"></i> <%= link_to "Do This", new_task_path(:content_id => content.id, :name => content.name)  %>
						 
					    </p>
				   </div>
				   </div>
		    	   </div>
	   			
				</li>
	    		<% end %>
	    </div>
		<div class="topic-sidebar span3">
			<div class="well">
	    	<div class="topic-title">
			  <h3><%= @topic.title %></h3>
			  <div id="follows_topic">
			   <%= render :partial => "follows/follow_topic", :locals => {:topic => @topic} %>
			   </div>
			</div>
			<div class="topic-controls">
				<div class="tool-group">
    				<div class="btn-toolbar">
  						<div class="btn-group">
  							<%= link_to new_task_path, :class=>"btn"  do %>
  								<i class="icon-white icon-plus"></i>
  							<% end %>
  							<%= link_to edit_topic_path(@topic), :class=>"btn"  do %>
  								<i class="icon-white icon-pencil"></i>
  							<% end %>
  			    			<%= link_to topic_path(@topic), method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn" do  %>
  			    				<i class="icon-white icon-trash"></i> 
  			    			<% end %>
 
  					   </div>
	        		</div>
	           </div>
			</div>
			</div>
			<div class="topic-description">
				<p>
				<%= @topic.description %>
				</p>
			</div>
			<ul class="nav nav-tabs nav-stacked">
				<li><%= link_to "Submit Content", new_topic_content_path(@topic) %></li>
			</ul>	
		</div>
	</div>
