<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">INCEPT</a>
          <div class="container nav-collapse">
            <ul class="nav">
            	<% if user_signed_in? %>
            	<li><%= link_to "My Transcript", user_path(current_user) %></li></li>
            	<li><%= link_to "Browse Subjects", topics_path %></li>
            	<% end %>
            </ul>
            <div class="pull-right">
		      <ul class="nav">
		      	<% if user_signed_in? %>
  				<li>
  				<%= link_to('Edit registration', edit_user_registration_path) %>
  				</li>
  				<li>
  				<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  				</li>      
			    <% else %>
   				<li>
  				<%= link_to('Register', new_user_registration_path)  %>
  				</li>
  				<li>
  				<%= link_to('Login', new_user_session_path)  %>  
  				</li>
			  <% end %>
			 </ul>
            </div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>